In [1]:
import time
import pandas as pd
import numpy as np

# For plotting
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

## Gathering Data

Strava has a publicly available API interface that allows developers to access Strava data. Mandie Quartly has wrote an excellent guide on how to grab your Strava data using Stravas API V3, this guide can be found [here](https://medium.com/@mandieq). The csv file that is read in the following section was retrieved using this guide.

## Data Exploration

In [2]:
df = pd.read_csv("activities.csv")
df.head()

,Unnamed: 0,id,start_date_local,type,distance,moving_time,elapsed_time,total_elevation_gain,elev_high,elev_low,average_speed,max_speed,start_latitude,start_longitude,flagged,distance_km,day_of_week,month_of_year
0,0,4270212916,2020-11-01 10:41:51,Run,6257.7,0 days 00:33:03.000000000,0 days 00:34:56.000000000,12.2,40.9,26.7,3.156,5.3,41.960250,3.038900,False,6.2577,Sunday,11
1,1,4261801695,2020-10-30 12:11:15,Run,6509.1,0 days 00:32:31.000000000,0 days 00:32:31.000000000,12.1,40.1,26.7,3.336,7.0,41.960362,3.039066,False,6.5091,Friday,10
2,2,4258427984,2020-10-29 14:34:26,Run,1313.1,0 days 00:07:04.000000000,0 days 00:07:04.000000000,5.9,39.5,33.3,3.097,9.1,41.970032,3.033507,False,1.3131,Thursday,10
3,3,4258403656,2020-10-29 14:03:07,Run,6466.1,0 days 00:30:34.000000000,0 days 00:30:34.000000000,7.0,40.1,26.3,3.526,5.0,41.960384,3.039412,False,6.4661,Thursday,10
4,4,4249784457,2020-10-27 13:49:43,Run,1275.3,0 days 00:07:17.000000000,0 days 00:07:28.000000000,5.8,40.0,33.8,2.918,4.5,41.969520,3.033521,False,1.2753,Tuesday,10